<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <style>
            .error {
                color: red;
            }
        </style>
    </head>
    <body>
        <nav>
            <a href="/users">Home</a>
            <a href="/index">All Posts</a>
            <a href="/newpost">New Post</a>
            <a href="/login">Login</a>
            <a href="/logout">Logout</a>
        </nav>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{message}}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}

    </body>
    <footer>
        &copy;Tim Novak
    </footer>
</html>