{% extends 'base.html' %}

{% block content %}
    <h1>Write a Post</h1>
    <form action="/post" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}
            <br />
            {{ form.title(32) }}
        </p>
        <p>
            {{ form.post.label }}
            <br />
            {{ form.post(cols=32, rows=4) }}
            <br />
            {% for error in form.post.errors %}
            <span style="color:red;">[{{ error }}]</span>
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}